/* root
-------------------- */

:root {
  --black: #100e1d;
  --gray1: #333;
  --gray2: #4f4f4f;
  --gray3: #828282;
  --gray4: #b9bdcf;
  --gray5: #e0e0e0;
  --gray6: #f2f2f2;
  --white: #fff;
  --blue: #2d9cdb;
  --blue-darker: #1f7eb1;
  --green: #27ae60;
  --red: #eb5757;

  /* stylelint-disable value-keyword-case */
  --font-base: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --font-heebo: Heebo, sans-serif;
  --font-poppins: Poppins, sans-serif;
  /* stylelint-enable value-keyword-case */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* load ※Chromeのページ初期読み込み時のtransition抑制対応 */
.js-preload * {
  transition: none !important;
}

/* common
-------------------- */

.outside-container {
  max-width: 1440px;
  padding: 0 4%;
  margin: 0 auto;
}

.inside-container {
  max-width: 1280px;
  padding: 0 8%;
  margin: 0 auto;
}

.bg-blue {
  background-color: var(--blue);
}

.bg-green {
  background-color: var(--green);
}

.bg-red {
  background-color: var(--red);
}

.overflow-hidden {
  overflow: hidden;
}

.nav-list {
  list-style: none;
}

.nav-list li a:hover {
  text-decoration: underline;
  transition: text-decoration 0.3s;
}

.menu-btn {
  display: inline-flex;
  background-color: var(--white);
  border: none;
}

.custom-input__label {
  display: inline-block;
  font-family: var(--font-poppins);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.custom-email-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 4px 4px 16px;
  margin-top: 4px;
  background-color: var(--gray6);
  border-radius: 12px;
}

.custom-email-input input {
  width: 75%;
  height: 100%;
  background-color: var(--gray6);
  border: none;
  border-radius: 12px;
  outline: none;
}

.custom-email-input input::placeholder {
  color: var(--gray4);
}

.custom-email-input button {
  padding: 8px 20px;
  color: var(--gray6);
  cursor: pointer;
  border: none;
  border-radius: 12px;
}

.custom-email-input button:hover,
.custom-email-input button:focus {
  background-color: var(--blue-darker);
  transition: background-color 0.3s;
}

.custom-email-input button:not(.focus-visible) {
  outline-color: transparent;
}

.section-title {
  font-family: var(--font-poppins);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 54px;
  color: var(--gray1);
}

/* top header
-------------------- */

.top-header {
  margin-top: 8px;
}

.top-header__layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-header__site-title {
  font-family: var(--font-heebo);
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 53px;
  color: var(--gray1);
}

.top-header__nav-list {
  display: flex;
}

.top-header__nav-list li {
  padding: 8px 0;
  margin-right: 32px;
  font-family: var(--font-poppins);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  color: var(--gray1);
}

.top-header__nav-list li:last-child {
  margin-right: 0;
}

.top-header__open-menu-btn {
  display: none;
}

/* hero header
-------------------- */

.hero-header {
  padding-top: 104px;
}

.hero-header__container {
  padding: 0 20%;
  margin: 0 auto;
}

.hero-header__intro-text {
  margin-top: 16px;
  font-family: var(--font-poppins);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  color: var(--blue);
}

.hero-header__em-text {
  display: block;
  font-family: var(--font-poppins);
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
  color: var(--gray1);
}

.hero-header__img-block {
  margin: 42px -27%;
}

.hero-header__img-block img {
  border-radius: 18px;
}

.hero-header__description {
  max-width: 368px;
  margin-top: 42px;
  font-family: var(--font-poppins);
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 27px;
  color: var(--gray2);
}

.hero-header .custom-input__label {
  width: 350px;
  margin-top: 42px;
  color: var(--gray3);
}

/* service section
-------------------- */

.service-section {
  padding-top: 200px;
}

.service-section__service-card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  column-gap: 32px;
  margin-top: 40px;
}

.service-section .service-card-list__card {
  padding: 72px 32px 52px;
  border-radius: 24px;
}

.service-section .service-card-list__card:hover {
  box-shadow: 0 10px 30px rgb(51 51 51 / 10%);
}

.service-card-list__card .service-card-list__card-icon {
  padding: 16px;
  color: var(--white);
  border-radius: 16px;
}

.service-card-list__card .service-card-list__card-title {
  margin-top: 32px;
  font-family: var(--font-poppins);
  font-size: 24px;
  font-style: normal;
  font-weight: bold;
  line-height: 36px;
  color: var(--gray1);
}

.service-card-list__card .service-card-list__card-description {
  margin-top: 24px;
  font-family: var(--font-poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: var(--gray2);
}

.service-card-list__card .service-card-list__card-link {
  display: inline-block;
  padding: 8px 12px;
  margin-top: 32px;
  font-family: var(--font-poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  color: var(--gray3);
  background-color: var(--gray5);
  border-radius: 12px;
}

.service-card-list__card--active .service-card-list__card-link {
  color: var(--white);
  background-color: var(--blue);
}

.service-card-list__card--active .service-card-list__card-link:hover,
.service-card-list__card--active .service-card-list__card-link:focus {
  background-color: var(--blue-darker);
  transition: background-color 0.3s;
}

/* works section
-------------------- */

.works-section {
  padding-top: 200px;
}

.works-section .work-section__work-card-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 16px;
  margin-top: 192px;
}

.works-section .work-card-list__card {
  padding-bottom: 160px;
}

.works-section .work-card-list__card:nth-child(2n) {
  margin-top: -176px;
}

.work-card-list__card img {
  border-radius: 12px;
}

.work-card-list__card figcaption {
  margin-top: 12px;
}

.work-card-list__card .work-card-list__card-category {
  font-family: var(--font-poppins);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
  color: var(--gray3);
}

.work-card-list__card .work-card-list__card-title {
  font-family: var(--font-poppins);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  color: var(--gray1);
}

.works-section .works-section__more-block {
  margin-top: -196px;
  text-align: right;
}

.works-section .works-section__more {
  padding: 8px 0;
  font-family: var(--font-poppins);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  color: var(--blue);
}

.works-section .works-section__more:hover {
  text-decoration: underline;
  transition: text-decoration 0.3s;
}

/* team section
-------------------- */

.team-section {
  padding-top: 240px;
}

.team-section-layout {
  display: grid;
  grid-template-columns: 30% 60%;
  column-gap: 10%;
  align-items: center;
}

.team-section .team-section__mini-title {
  font-family: var(--font-poppins);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  color: var(--red);
}

.team-section .team-section__description {
  margin-top: 16px;
  font-family: var(--font-poppins);
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: var(--gray2);
}

.team-section .team-section__team-member-img-list {
  display: grid;
  column-gap: 4%;
}

.team-section__team-member-img-list img {
  border-radius: 24px;
}

.team-section__team-member-img-list p:nth-child(1) {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  width: 90%;
  height: 90%;
}

.team-section__team-member-img-list p:nth-child(2) {
  grid-row: 3 / 5;
  grid-column: 2 / 3;
}

.team-section__team-member-img-list p:nth-child(3) {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
}

/* client section
-------------------- */

.cilent-section {
  padding-top: 192px;
}

.cilent-section .client-quote-block {
  max-width: 90%;
}

.client-quote-block blockquote {
  font-family: var(--font-poppins);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 54px;
  color: var(--gray1);
}

.client-quote-block blockquote::before {
  content: '"';
}

.client-quote-block blockquote::after {
  content: '"';
}

.client-quote-block .client-quote-block__client {
  display: grid;
  grid-template-columns: 80px 1fr;
  column-gap: 24px;
  margin-top: 32px;
}

.client-quote-block__client-img {
  border-radius: 16px;
}

.client-quote-block__client-name {
  font-family: var(--font-poppins);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  color: var(--gray1);
}

.client-quote-block__client-role {
  display: inline-block;
  margin-top: 8px;
  font-family: var(--font-poppins);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
  color: var(--gray3);
}

/* footer
-------------------- */

.footer {
  padding: 40px 0 24px;
  margin-top: 200px;
  color: var(--white);
  text-align: center;
  background-color: var(--black);
}

.footer-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: start;
}

.footer .footer__nav-list {
  padding: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
.footer .footer__nav-list li {
  margin-bottom: 4px;
}

.footer .footer__nav-list li:last-child {
  margin-bottom: 0;
}

.footer .footer__nav-list li a {
  font-family: var(--font-poppins);
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 36px;
}

.footer .footer__site-title {
  font-family: var(--font-heebo);
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: 53px;
  color: var(--gray6);
}

.footer .footer__social {
  display: flex;
}
/* stylelint-disable-next-line no-descending-specificity */
.footer .footer__social a:nth-child(n) {
  margin-right: 8px;
}

/* stylelint-disable-next-line no-descending-specificity */
.footer .footer__social a:last-child {
  margin-right: 0;
}

.footer .custom-input__label {
  width: 100%;
  color: var(--gray3);
}

.footer .footer__signature {
  display: block;
  margin-top: 104px;
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 17px;
  color: var(--gray4);
}

/* menu
-------------------- */

.menu {
  position: fixed;
  inset: 0;
  z-index: 1200;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  visibility: hidden;
  background-color: var(--white);
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s ease 0.3s, transform 0.3s;
  transform: translateX(100%);
}

.menu-header {
  margin-top: 20px;
  text-align: right;
}

.menu-nav {
  margin: 25vh auto;
}

.menu-nav-list {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  text-align: center;
}

/* stylelint-disable-next-line no-descending-specificity */
.menu-nav-list li {
  margin-bottom: 32px;
}

/* stylelint-disable-next-line no-descending-specificity */
.menu-nav-list li:last-child {
  margin-bottom: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
.menu-nav-list li a {
  font-family: var(--font-poppins);
  font-size: 24px;
  line-height: 36px;
  color: var(--gray1);
}

.menu--open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
  transform: translateX(0);
}

/* tablet
-------------------- */

@media (width <= 959px) {
  /* top-header */

  .top-header__nav {
    display: none;
  }

  .top-header__open-menu-btn {
    display: inline-flex;
  }
}

/* mobile
-------------------- */

@media (width <= 599px) {
  /* common */

  .inside-container {
    padding: 0 10%;
  }

  .sm-outside-container {
    padding: 0 4%;
  }

  .sm-inside-container {
    padding: 0 10%;
  }

  .custom-input__label {
    font-size: 10px;
    line-height: 15px;
  }

  .section-title {
    font-size: 24px;
    line-height: 36px;
  }

  /* top header */

  .top-header__site-title {
    font-size: 24px;
    line-height: 35px;
  }

  /* hero header */

  .hero-header {
    padding-top: 48px;
  }

  .hero-header__container {
    padding: 0 10%;
  }

  .hero-header__intro-text {
    font-size: 12px;
    line-height: 18px;
  }

  .hero-header__em-text {
    font-size: 24px;
    line-height: 36px;
  }

  .hero-header__img-block {
    margin: 16px -6%;
  }

  .hero-header__description {
    max-width: 280px;
    margin-top: 32px;
    font-size: 12px;
    line-height: 18px;
  }

  .hero-header .custom-input__label {
    width: 100%;
    margin-top: 32px;
  }

  /* service section */

  .service-section {
    padding-top: 104px;
  }

  .service-section__service-card-list {
    grid-template-columns: 100%;
    row-gap: 24px;
    margin-top: 40px;
  }

  .service-section .service-card-list__card {
    padding: 48px 32px;
    border-radius: 24px;
  }

  /* works section */

  .works-section {
    padding-top: 144px;
  }

  .works-section .work-section__work-card-list {
    grid-template-columns: 1fr;
    row-gap: 24px;
    margin-top: 48px;
  }

  .works-section .work-card-list__card {
    padding-bottom: 0;
  }

  .works-section .work-card-list__card:nth-child(2n) {
    margin-top: 0;
  }

  .work-card-list__card figcaption {
    margin-top: 4px;
  }

  .work-card-list__card .work-card-list__card-category {
    font-size: 12px;
    line-height: 18px;
  }

  .work-card-list__card .work-card-list__card-title {
    font-size: 18px;
    line-height: 27px;
  }

  .works-section .works-section__more-block {
    margin-top: 32px;
    text-align: left;
  }

  .works-section .works-section__more {
    font-size: 18px;
    line-height: 27px;
  }

  /* team section */

  .team-section {
    padding-top: 104px;
  }

  .team-section-layout {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }

  .team-section .team-section__title {
    font-size: 36px;
    line-height: 54px;
  }

  /* client section */

  .cilent-section {
    padding-top: 104px;
  }

  .cilent-section .client-quote-block {
    max-width: initial;
  }

  .client-quote-block blockquote {
    font-size: 24px;
    line-height: 36px;
  }

  /* footer */

  .footer {
    padding: 40px 0 24px;
    margin-top: 104px;
  }

  .footer-layout {
    grid-template-columns: 1fr;
    row-gap: 56px;
  }

  /* menu */

  .menu-header {
    margin-top: 12px;
  }
}
